

<%= form_with(model: task) do |form| %>

  <% if task.errors.any? %>
    <div class="error-messages">
      <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="space-y-12">
    <div class="border-b border-gray-900/10 pb-12">
      <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
        <div class="sm:col-span-3">
          <%= form.label :title, class:"block text-sm font-medium leading-6 text-gray-900"%>
          <div class="mt-2">
            <%= form.text_field :title, class:"block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-[#7ee47e] sm:text-sm sm:leading-6" %>
          </div>
        </div>

        <div class="sm:col-span-3">
          <%= form.label :due_date, class:"block text-sm font-medium leading-6 text-gray-900"  %>
          <div class="mt-2">
            <%= form.date_field :due_date, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-[#7ee47e] sm:text-sm sm:leading-6" %>
          </div>
        </div>
      </div>
      <div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-8 ">
        <div class="sm:col-span-3">
          <%= form.label :description, class:"block text-sm font-medium leading-6 text-gray-900"%>
          <div class="mt-2">
            <%= form.text_area :description, rows: 4, placeholder: "Optional - 250 chars max!", maxlength: 250, class:"block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-[#7ee47e] sm:text-sm sm:leading-6" %>
          </div>
        </div>
      </div>
      <div class="mt-2 space-y-10">
        <fieldset>
          <div class="mt-6 space-y-6">
            <div class="relative flex gap-x-3">
              <div class="flex h-6 items-center">
                <%= form.check_box :status, class: "h-4 w-4 rounded border-gray-300 text-[#7ee47e] focus:ring-[#7ee47e]" %>
              </div>
              <div class="text-sm leading-6">
                <%= form.label :completed, class: "font-medium text-gray-900" %>
              </div>
            </div>
          </div>
        </fieldset>
       </div>
      <%= form.submit class:"btn btn-success"  %>
     </div>
  <div>


<% end %>