<header class="task-header my-6 flex justify-between items-center">
  <h1 class="mb-0" >Tasks</h1>
  <div>
    <%= link_to "New Task", new_task_path, class:"btn btn-neutral" %>
    <% if @tasks.any? %>
      <%= link_to "Export CSV", export_csv_tasks_path(format: :csv), class:"btn btn-neutral"%>
    <% end %>
  </div>
</header>

<div class="flex flex-col sm:flex-row mt-10 sm:mt-20 sm:gap-4">
  <%= link_to 'Show Completed', tasks_path(status: 'completed'), class: "task-status btn btn-neutral" %>
  <%= link_to 'Show ToDo', tasks_path(status: 'incomplete'), class: "task-status btn btn-neutral" %>
  <%= link_to 'Show All Tasks', tasks_path, class: "task-status btn btn-neutral" %>
</div>


<% if @tasks.any? %>

  <ul class="px-0">
    <% @tasks.each do |task| %>
    <div class="tasks <%= task.completed? ? 'completed' : 'incomplete' %> py-1 px-4 mb-4">
    <div class="flex justify-between items-center my-6">
      <h2 class="my-0"><%= link_to task.title, task, class: "cursor-pointer decoration-1 underline-offset-4 hover:decoration-2" %></h2>
      <%= button_to heroicon('trash'), task_path(task), method: :delete, data: { turbo_confirm: "Are you sure?" } %>
    </div>
      <p class="text-sm"><%= format_due_date(task) %></p>
      <% if task.has_description? %>
        <p class="text-right"><%= task.description %></p>
      <% end %>
    </div>
    <% end%>
  </ul>

<% else %>

  <p> No tasks yet. Create one!

<% end%>