<h1><%= @task.title %></h1>
<% if @task.incomplete? %>
  <%= button_to "Mark done", complete_task_path(@task) %>
<% end %>
<p><%= format_due_date(@task) %></p>

<%= link_to "Edit task", edit_task_path(@task) %>
<%= link_to "Back to all tasks", tasks_url %>