<!DOCTYPE html>
<html>
  <head>
    <title>Tasks</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="prose mx-auto flex flex-col">

    <div class="flash">
      <%= render "shared/flash" %>
    </div>
    <main class="flex-1">
      <%= yield %>
    </main>
    <div class="mx-auto my-4 text-sm text-center py-6">
      Copyright <%= Date.current.year %> <%= link_to "Redrambles", "https://github.com/redrambles", class: "cursor-pointer decoration-1 underline-offset-4 hover:decoration-2" %>
    </div>
  </body>
</html>
